<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iimbvista.iimbvista">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_dark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_dark_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Events.CartActivity"></activity>
        <activity android:name=".Events.PurchaseEventActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Sponsors.SponsorsActivity" />
        <activity android:name=".Register.RegisterActivity" />
        <activity android:name=".Register.RegisterationResult" />
        <activity android:name=".Events.EventsMain" />
        <activity android:name=".ConfirmEmail">
            <tools:validation testUrl="https://www.iimb-vista.com/2019/confirm_email.php" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.iimb-vista.com"
                    android:pathPrefix="/2019/confirm_email.php"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>